<mat-card>
  <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()" class="example-form">

    <div class="form-group required">
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="20%">
          <mat-form-field>
            <mat-label>Catagory</mat-label>
            <mat-select formControlName="catagory_id">
              <mat-option *ngFor="let category of categorylist" [value]="category.id">
                {{category.category}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="20%">
          <mat-form-field>
            <mat-label>Sub-Catagory</mat-label>
            <mat-select formControlName="subCategory_id">
              <mat-option *ngFor="let subcategory of subCategorylist" [value]="subcategory.id">
                {{subcategory.subCategory}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="20%">
          <mat-form-field>
            <mat-label>Sub-Sub-Catagory</mat-label>
            <mat-select formControlName="subSubCategory_id">
              <mat-option *ngFor="let subsubcategory of subSubCategorylist" [value]="subsubcategory.id">
                {{subsubcategory.subSubCategory}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="20%">
          <mat-form-field appearance="outline">
            <mat-label>SKU</mat-label>
            <input matInput placeholder="SKU" formControlName="SKU">

            <mat-hint class="text-danger"
              *ngIf="service.formModel.get('SKU').touched && service.formModel.get('SKU').errors?.required">This field
              is
              mandatory.</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="20%">


          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="title" formControlName="title">
            <mat-hint class="text-danger"
              *ngIf="service.formModel.get('title').touched && service.formModel.get('title').errors?.email">Invalid
              email
              address.</mat-hint>
          </mat-form-field>

        </div>


      </div>



    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input type="text"  aria-label="Number" matInput [formControl]="myControl" 
              [matAutocomplete]="auto" placeholder="brand">
            <mat-autocomplete #auto="matAutocomplete" >
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      
        </div>
      </div>
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Producer</mat-label>

            <input matInput placeholder="producer" formControlName="producer">
          </mat-form-field>
        </div>
      </div>
      
    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Product Status</mat-label>
    
            <input matInput placeholder="product_status" formControlName="product_status">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Product Currency</mat-label>
    
            <input matInput placeholder="product_Currency" formControlName="product_Currency">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
    
            <input matInput placeholder="stock" type="number" formControlName="stock">
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
    
            <input matInput placeholder="price_id" type="number" formControlName="price_id">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="20%">

      </div>
      <div fxFlex="20%">

      </div>

    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Short Details</mat-label>
    
            <textarea matInput placeholder="shortDetails" formControlName="shortDetails"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="20%">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
    
            <textarea matInput placeholder="description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="20%">

      </div>
      <div fxFlex="20%">

      </div>

    </div>
   
    
   



    
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Updated</mat-label>

        <input matInput [matDatepicker]="picker" placeholder="updated" formControlName="updated">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    
   
   
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Images</mat-label>

        <input matInput placeholder="images" formControlName="images">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Created</mat-label>

        <input matInput [matDatepicker]="picker1" placeholder="created" formControlName="created">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button mat-raised-button type="submit" class="btn btn-lg btn-block">Sign Up</button>
      </div>
    </div>

  </form>
</mat-card>