/* You can add global styles to this file, and also import other style files */


input.form-control,input.form-control:focus{
    
    color: black;
    border-color: black;
    border-radius: 0px;
    border-width: 2px;
}

input.form-control:focus{
    box-shadow: none;
    border-bottom-color: black;
}
.wrapper {
    display: flex;
  }
  .wrapper    > div {
    font-size: 3vh;
    color: #000;
    background: white;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
  }
button[type=submit].btn{
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}

div.form-group label{
    color: black;
    font-weight: bold;
}



#toast-container > div {
    opacity:1;
}

form{
    margin: 0px 16px;
}

div.side-header{
    border:3px solid black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
